@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    min-height: 100vh;
    background-color: #000;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.wrapper{
    max-width: 420px;
    width: 100%;
    background-color: #111111;
    border-radius: 3px;
    padding: 30px;
    box-shadow: 0 0 2px #fff;
}

.wrapper h2{
    color: #fff;
    text-align: center;
}

.password{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 100%;
    margin-top: 20px;
    box-shadow: 0 0 1px #fff;
    background-color: #222;
    padding: 0 15px;
}

.password input{
    outline: none;
    border: none;
    color: #fff;
    background-color: #222;
    flex: 1;
    font-size: 16px;
}

.password input::selection{
    background-color: #555;
}

.password .copy{
    font-size: 20px;
    color: #888;
    cursor: pointer;
}

.password .copied{
    display: none;
    font-size: 20px;
    color: #888;
    cursor: pointer;
}

.password.active .copy{
    display: none;
}

.password.active .copied{
    display: block;
}

.hide{
    display: none;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #888;
    height: 40px;
    width: 100%;
    margin-top: 20px;
    box-shadow: 0 0 1px #fff;
    background-color: #1b1b1b;
    cursor: pointer;
    transition: 0.3s;
    user-select: none;
}

.btn:hover{
    background-color: #222;
}