@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    background-color: #424242;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alert{
    color: #fff;
    font-size: 25px;
    background-color:#5f5f5f;
    padding: 10px 20px;
    border-radius: 5px;
}

.hide{
    display: none;
}

.box{
    width: 100%;
}

.result{
    text-align: center;
    font-size: 40vmin;
    /* line-height: 40vmin; */
    color: #fff;
}

.details{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    /* margin-top: 10px; */
    margin-bottom: 20px;
}

.card{
    flex: 1;
    background-color: #5f5f5f;
    overflow: hidden;
    margin: 10px;
    box-shadow: 0 14px 26px rgb(0 0 0 / 4%);
    border: 1px solid rgba(0, 0, 0, 0.11);
    border-radius: 5px;
    max-width: 300px;
    min-width: 250px;
}

.card-header{
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    background-color: #5b60ff;
    border-bottom: 1px solid #4347b6;
    color: #fff;
    padding: 5px 10px;
}


.card-main{
    font-size: 28px;
    line-height: 28px;
    text-align: center;
    color: #fff;
    padding: 15px 0;
}